.topbar {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(21,21,23,0.95);
  &__container {
  	width: 1000px;
  	margin: 0 auto;
  	display: flex;
  	align-items: center;
    justify-content: space-between;
  	height: 100%;
  }
  &__title {
  	color: #fff;
  	font-size: 18px;
  	font-weight: bold;
  }
  &__filter {
    color: #969696;
    width: 230px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    span {
      border-bottom: 1px solid #969696;
      padding-bottom: 3px;
      cursor: pointer;
    }
  }

  .filterHolder {
    display: flex;
  }

  .clearFilter {
    color: #969696;
    font-size: 12px;
    margin-right: 10px;
    border-bottom: 1px solid #969696;
    cursor: pointer;
    text-decoration: none;
  }
}